<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cliente.css">
    <link rel="shortcut icon" href="/app/assets/icons/box.ico" type="image/x-icon">
    <script src="/app/Js/menu.js"></script>
    <title>Swift Box | Perfil</title>
</head>
<body>
    <header>
        <h1>Swift Box</h1>

        <div id="mySidepanel" class="sidepanel">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a href="#">Carrinho</a>
            <a href="#">Favoritos</a>
            <a href="#">Perfil</a>
        </div>
          
        <button class="openbtn" onclick="openNav()">
            <img id="icon-menu" src="/app/assets/icons/menu-aberto.png" alt="menu">
        </button>  
    </header>

    <main>
        <section class="login">
            <div>
                <img id="icon-login" src="/app/assets/icons/people.png" alt="icon">
            </div>

            <h2>Entrar</h2>
        </section>

        <section class="register">
            <div>
                <img id="icon-register" src="/app/assets/icons/people (1).png" alt="icon">
            </div>

            <h2>Registrar</h2>
        </section>
    </main>

    <span>
        <a href="/app/index.html">
            <img id="back-arrow" src="/app/assets/icons/back-arrow.png" alt="back-arrow">
        </a>
    </span>
</body>
</html>