<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/app/assets/icons/box.ico" type="image/x-icon">
    <script src="/app/Js/menu.js"></script>
    <link rel="stylesheet" href="register.css">
    <title>Swift Box | Register</title>
</head>
<body>
    <header>
        <h1>Swift Box</h1>

        <div id="mySidepanel" class="sidepanel">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a href="/app/views/carrinho/car.html">Carrinho</a>
            <a href="/app/views/favoritos/fav.html">Favoritos</a>
            <a href="/app/views/cliente/cliente.html">Voltar</a>
        </div>
        
        <button class="openbtn" onclick="openNav()">
            <img id="icon-menu" src="/app/assets/icons/menu-aberto.png" alt="menu">
        </button> 
        
        <div id="nav-desk">
            <a href="/app/views/carrinho/car.html">Carrinho</a>
            <a href="/app/views/favoritos/fav.html">Favoritos</a>
            <a href="/app/index.html">Home</a>

            <div class="search-nav">
                <input id="s-nav" type="text" placeholder="Pesquisar">
                <button>
                    <img src="/app/assets/icons/lupa 2.png">
                </button>
            </div>
        </div>
    </header>

    <main>
        <img src="/app/assets/imgs/sign-up-form.png">

        <form action="#">

            <div class="component">
                <label>Nome</label>
                <input type="text" placeholder="Insira seu Nome Completo!">
            </div>

            <div class="component">
                <label>E-mail</label>
                <input type="text" placeholder="Insira seu E-mail!">
            </div>

            <div class="component">
                <label>Senha</label>
                <input type="passwordsdsds" placeholder="Insira sua Senha!" >
            </div>

            <div class="component">
                <label>Confirmar senha</label>
                <input type="passwordsdsds" placeholder="Confirme sua Senha!" >
            </div>

            <button>Entrar</button>
        </form>


    </main>

    <span>
        <a href="/app/views/cliente/cliente.html">
            <img id="back-arrow" src="/app/assets/icons/back-arrow.png" alt="back-arrow">
        </a>
    </span>
</body>
</html>