<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="car.css">
    <script src="/app/Js/menu.js"></script>
    <link rel="shortcut icon" href="/app/assets/icons/box.ico" type="image/x-icon">
    <title>Swift Box | Carrinho</title>
</head>
<body>
    <header>
        <h1>Swift Box</h1>

        <div id="mySidepanel" class="sidepanel">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a href="/app/views/favoritos/fav.html">Favoritos</a>
            <a href="views/cliente/cliente.html">Perfil</a>            
            <a href="/app/index.html">Home</a>
            <a href="/app/views/search/search.html">Pesquisar</a>
        </div>
        
        <button class="openbtn" onclick="openNav()">
            <img id="icon-menu" src="/app/assets/icons/menu-aberto.png" alt="menu">
        </button> 

        <div id="nav-desk">
            <a href="views/favoritos/fav.html">Favoritos</a>
            <a href="views/cliente/cliente.html">Perfil</a>
            <a href="/app/index.html">Home</a>

            <div class="search-nav">
                <input type="text" placeholder="Pesquisar">
                <button>
                    <img src="/app/assets/icons/lupa 2.png">
                </button>
            </div>
        </div>
    </header>
    
    <main>
        <section>
            <img src="/app/assets/icons/triste.png">
            <h1>Nenhum item no carrinho!</h1>
        </section>
    </main>
</body>
</html>