@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --font_Abel: 'Victor Mono', monospace;
    --font_Aldrich: 'Aldrich', sans-serif;
    --font_AdventPro: 'Advent Pro', sans-serif;
}

header {
    background-color: #3410C5;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
    font-family: var(--font_Abel);
    color: #fff;
    font-size: 32px;
    text-transform: uppercase;
}

.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #010B6A, #3410C5);
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}
  
.sidepanel a {
    padding: 8px;   
    font-family: var(--font_Abel);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}
  
.sidepanel a:hover {
    color: #f1f1f1;
}
  
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}
  
.openbtn {
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
}

#icon-menu {
    width: 50px;
    height: 60px;
}

.promotions {
    display: block;
}

#promotions > aside {
    background: url(assets/imgs/pexels-cottonbro-studio-4553261.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    width: 100%;
    height: 200px;
}

aside > div  { 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #0000005e;
    width: 100%;
    height: 100%;
    color: #fff;
    font-family: var(--font_Abel);
    text-transform: uppercase;
    font-size: 32px;
}

.products {
    display: flex;
    background-color: #D9D9D9;
    margin: 30px;
    width: 170px;
    height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    float: right;
    text-decoration: none;
}

.products > a {
    color: #000000;
    font-family: var(--font_Abel);
    text-transform: uppercase;
    padding: 10px;
    font-size: 25px;

}

.list-product {
    padding-bottom: 25px;
    position: sticky;
    margin-top: 120px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: row;
    overflow-x: scroll;
    width: auto;
}

.list-product > a {
    text-decoration: none;
}

.product {
    width: 200px;
    height: 300px;
    border: solid 1px #000000;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.product > .img-product {
    width: 170px;
    height: 200px;
}

.description {
    background-color: #5C5C5C;
}

.description > h2{
    color: #ffffff;
    font-size: 12px;
    font-family: var(--font_Aldrich);
    padding: 5px;
    text-transform: uppercase;
    font-weight: 300;
}

.description > h3 {
    color: #24FF00;
    font-size: 16px;
    font-family: var(--font_Aldrich);
    padding: 5px;
    text-transform: uppercase;
    font-weight: 300;
}

#hardwares {
    margin-top: 100px;
}

#hardwares > aside {
    background: url(tests/Rectangle\ 14.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    width: 100%;
    height: 200px;
}

aside > div  { 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #0000005e;
    width: 100%;
    height: 100%;
    color: #fff;
    font-family: var(--font_Abel);
    text-transform: uppercase;
    font-size: 32px;
}

#perifericos {
    margin-top: 100px;
}

#perifericos > aside {
    background: url(tests/Rectangle\ 23.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    width: 100%;
    height: 200px;
}

aside > div  { 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #0000005e;
    width: 100%;
    height: 100%;
    color: #fff;
    font-family: var(--font_Abel);
    text-transform: uppercase;
    font-size: 32px;
}

footer {
    margin-top: 50px;
    width: auto;
    height: 250px;
    background-color: #010B6A;
}

footer > p {
    color: #fff;
    font-size: 24px;
    font-family: var(--font_AdventPro);
    font-weight: bold;
    margin: 5px;
}

#social-icon {
    padding: 20px 0px 20px 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}


@media only screen and (max-width: 1024px) {
    
}