<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="lista2.css">
    <script src="/app/Js/menu.js"></script>
    <link rel="shortcut icon" href="/app/assets/icons/box.ico" type="image/x-icon">
    <title>Swift Box | Hardwares</title>
</head>
<body>
    <header>
        <h1>Swift Box</h1>

        <div id="mySidepanel" class="sidepanel">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a href="/app/views/carrinho/car.html">Carrinho</a>
            <a href="/app/views/favoritos/fav.html">Favoritos</a>
            <a href="/app/views/cliente/cliente.html">Perfil</a>
            <a href="/app/index.html">Home</a>
            <a href="/app/views/search/search.html">Pesquisar</a>
        </div>
        
        <button class="openbtn" onclick="openNav()">
            <img id="icon-menu" src="/app/assets/icons/menu-aberto.png" alt="menu">
        </button>  

        <div id="nav-desk">
            <a href="/app/views/carrinho/car.html">Carrinho</a>
            <a href="/app/views/favoritos/fav.html">Favoritos</a>
            <a href="/app/views/cliente/cliente.html">Perfil</a>
            <a href="/app/index.html">Home</a>

            <div class="search-nav">
                <input type="text" placeholder="Pesquisar">
                <button>
                    <img src="/app/assets/icons/lupa 2.png">
                </button>
            </div>
        </div>
    </header>

    <div class="products">
        <p>Hardwares</p>
    </div>

    <main>
        <a href="/app/views/produtos/produto1/produto1.html">
            <div class="product">
                <img class="img-product" src="/app/assets/imgs/kit-upgrade-intel-core-i5-10400f-placa-mae-biostar-b560mh-e-20_159614.jpg" alt="produto"/>
                <span class="description">
                    <h2>Kit Upgrade Intel Core I5 10400F + Placa Mãe Biostar B560MH-E 2.0</h2>
                    <h3>R$1.210,90 à vista</h3>
                </span>
            </div>
        </a>
            
        <a href="/app/views/produtos/produto2/produto2.html">
            <div class="product">
                <img class="img-product" src="/app/assets/imgs/placa-de-video-gigabyte-nvidia-geforce-rtx-3050-windforce-oc-8gb-gddr6-dlss-ray-tracing-gv-n3050wf2oc-8gd_173446.jpg" alt="produto"/>
                <span class="description">
                    <h2>Placa de Vídeo Gigabyte NVIDIA GeForce RTX 3050 WINDFORCE OC, 8GB</h2>
                    <h3>R$1.420,50 à vista</h3>
                </span>
            </div>
        </a>

        <a href="/app/views/produtos/produto1/produto1.html">
            <div class="product">
                <img class="img-product" src="/app/assets/imgs/kit-upgrade-intel-core-i5-10400f-placa-mae-biostar-b560mh-e-20_159614.jpg" alt="produto"/>
                <span class="description">
                    <h2>Kit Upgrade Intel Core I5 10400F + Placa Mãe Biostar B560MH-E 2.0</h2>
                    <h3>R$1.210,90 à vista</h3>
                </span>
            </div>
        </a>

        <a href="/app/views/produtos/produto2/produto2.html">
            <div class="product">
                <img class="img-product" src="/app/assets/imgs/placa-de-video-gigabyte-nvidia-geforce-rtx-3050-windforce-oc-8gb-gddr6-dlss-ray-tracing-gv-n3050wf2oc-8gd_173446.jpg" alt="produto"/>
                <span class="description">
                    <h2>Placa de Vídeo Gigabyte NVIDIA GeForce RTX 3050 WINDFORCE OC, 8GB</h2>
                    <h3>R$1.420,50 à vista</h3>
                </span>
            </div>
        </a>
            
        <a href="/app/views/produtos/produto1/produto1.html">
            <div class="product">
                <img class="img-product" src="/app/assets/imgs/kit-upgrade-intel-core-i5-10400f-placa-mae-biostar-b560mh-e-20_159614.jpg" alt="produto"/>
                <span class="description">
                    <h2>Kit Upgrade Intel Core I5 10400F + Placa Mãe Biostar B560MH-E 2.0</h2>
                    <h3>R$1.210,90 à vista</h3>
                </span>
            </div>
        </a>

        <a href="/app/views/produtos/produto2/produto2.html">
            <div class="product">
                <img class="img-product" src="/app/assets/imgs/placa-de-video-gigabyte-nvidia-geforce-rtx-3050-windforce-oc-8gb-gddr6-dlss-ray-tracing-gv-n3050wf2oc-8gd_173446.jpg" alt="produto"/>
                <span class="description">
                    <h2>Placa de Vídeo Gigabyte NVIDIA GeForce RTX 3050 WINDFORCE OC, 8GB</h2>
                    <h3>R$1.420,50 à vista</h3>
                </span>
            </div>
        </a>

        <a href="/app/views/produtos/produto1/produto1.html">
            <div class="product">
                <img class="img-product" src="/app/assets/imgs/kit-upgrade-intel-core-i5-10400f-placa-mae-biostar-b560mh-e-20_159614.jpg" alt="produto"/>
                <span class="description">
                    <h2>Kit Upgrade Intel Core I5 10400F + Placa Mãe Biostar B560MH-E 2.0</h2>
                    <h3>R$1.210,90 à vista</h3>
                </span>
            </div>
        </a>
            
        <a href="/app/views/produtos/produto2/produto2.html">
            <div class="product">
                <img class="img-product" src="/app/assets/imgs/placa-de-video-gigabyte-nvidia-geforce-rtx-3050-windforce-oc-8gb-gddr6-dlss-ray-tracing-gv-n3050wf2oc-8gd_173446.jpg" alt="produto"/>
                <span class="description">
                    <h2>Placa de Vídeo Gigabyte NVIDIA GeForce RTX 3050 WINDFORCE OC, 8GB</h2>
                    <h3>R$1.420,50 à vista</h3>
                </span>
            </div>
        </a>

        <a href="/app/views/produtos/produto1/produto1.html">
            <div class="product">
                <img class="img-product" src="/app/assets/imgs/kit-upgrade-intel-core-i5-10400f-placa-mae-biostar-b560mh-e-20_159614.jpg" alt="produto"/>
                <span class="description">
                    <h2>Kit Upgrade Intel Core I5 10400F + Placa Mãe Biostar B560MH-E 2.0</h2>
                    <h3>R$1.210,90 à vista</h3>
                </span>
            </div>
        </a>

        <a href="/app/views/produtos/produto2/produto2.html">
            <div class="product">
                <img class="img-product" src="/app/assets/imgs/placa-de-video-gigabyte-nvidia-geforce-rtx-3050-windforce-oc-8gb-gddr6-dlss-ray-tracing-gv-n3050wf2oc-8gd_173446.jpg" alt="produto"/>
                <span class="description">
                    <h2>Placa de Vídeo Gigabyte NVIDIA GeForce RTX 3050 WINDFORCE OC, 8GB</h2>
                    <h3>R$1.420,50 à vista</h3>
                </span>
            </div>
        </a>
            
        <a href="/app/views/produtos/produto1/produto1.html">
            <div class="product">
                <img class="img-product" src="/app/assets/imgs/kit-upgrade-intel-core-i5-10400f-placa-mae-biostar-b560mh-e-20_159614.jpg" alt="produto"/>
                <span class="description">
                    <h2>Kit Upgrade Intel Core I5 10400F + Placa Mãe Biostar B560MH-E 2.0</h2>
                    <h3>R$1.210,90 à vista</h3>
                </span>
            </div>
        </a>

        <a href="/app/views/produtos/produto2/produto2.html">
            <div class="product">
                <img class="img-product" src="/app/assets/imgs/placa-de-video-gigabyte-nvidia-geforce-rtx-3050-windforce-oc-8gb-gddr6-dlss-ray-tracing-gv-n3050wf2oc-8gd_173446.jpg" alt="produto"/>
                <span class="description">
                    <h2>Placa de Vídeo Gigabyte NVIDIA GeForce RTX 3050 WINDFORCE OC, 8GB</h2>
                    <h3>R$1.420,50 à vista</h3>
                </span>
            </div>
        </a>
    </main>

    <nav>
        <div id="pages">
            <a href="#" class="pg1">1</a>
            <a href="#" class="pg">2</a>
            <a href="#" class="pg">3</a>
            <a href="#" class="pg">4</a>
            <a href="#" class="pg">5</a>
        </div>
    </nav>

    <footer>
        <div id="social-icon">

            <img src="/app/assets/icons/instagram 1.png">
        
            <img src="/app/assets/icons/facebook 1.png">

        </div>

        <p>Aviso que todos os produtos são importados de fornecedores de terceiro, somos apenas uma uma plataforma de distribuição!</p>
        
    </footer>
</body>
</html>