<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/app/assets/icons/box.ico" type="image/x-icon">
    <link rel="stylesheet" href="produto4.css">
    <script src="/app/Js/menu.js"></script>
    <title>Swift Box | Produto</title>
</head>
<body>
    <header>
        <h1>Swift Box</h1>

        <div id="mySidepanel" class="sidepanel">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a href="#">Carrinho</a>
            <a href="#">Favoritos</a>
            <a href="/app/views/cliente/cliente.html">Perfil</a>
            <a href="/app/index.html">Home</a>
        </div>
        
        <button class="openbtn" onclick="openNav()">
            <img id="icon-menu" src="/app/assets/icons/menu-aberto.png" alt="menu">
        </button>  
    </header>

    <nav>
        <section>
            <div class="icons">
                <img src="/app/assets/icons/coracao 2.png">
            </div>
            <div class="icons">
                <img src="/app/assets/icons/carrinho-de-compras 2.png" >
            </div>
        </section>
    </nav>

    <main>
        <div class="product">
            <img class="img-product" src="/app/assets/imgs/headset-gamer-dazz-ft3-ultraleve-71-virtual-driver-50mm-usbp3-blackblue-62000069_173416.jpg" alt="produto"/>
        </div>

        <div class="count">Disponível: 9</div>

        <section class="description">
            <h2>Headset Gamer Dazz FT3 Ultraleve, 7.1 Virtual, Driver 50mm, USB/P3, Black/Blue, 62000069</h2>
        </section>

        <button id="btn-buy">Comprar</button>
    </main>

    <footer>
        
        <div id="social-icon">

            <img src="/app/assets/icons/instagram 1.png">
        
            <img src="/app/assets/icons/facebook 1.png">

        </div>

        <p>Aviso que todos os produtos são importados de fornecedores de terceiro, somos apenas uma uma plataforma de distribuição!</p>
        
    </footer>
</body>
</html>
