<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/app/assets/icons/box.ico" type="image/x-icon">
    <link rel="stylesheet" href="produto3.css">
    <script src="/app/Js/menu.js"></script>
    <title>Swift Box | Produto</title>
</head>
<body>
    <header>
        <h1>Swift Box</h1>

        <div id="mySidepanel" class="sidepanel">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a href="/app/views/carrinho/car.html">Carrinho</a>
            <a href="/app/views/favoritos/fav.html">Favoritos</a>
            <a href="/app/views/cliente/cliente.html">Perfil</a>
            <a href="/app/index.html">Home</a>
            <a href="/app/views/search/search.html">Pesquisar</a>
        </div>
        
        <button class="openbtn" onclick="openNav()">
            <img id="icon-menu" src="/app/assets/icons/menu-aberto.png" alt="menu">
        </button>  

        <div id="nav-desk">
            <a href="/app/views/carrinho/car.html">Carrinho</a>
            <a href="/app/views/favoritos/fav.html">Favoritos</a>
            <a href="/app/views/cliente/cliente.html">Perfil</a>
            <a href="/app/index.html">Home</a>

            <div class="search-nav">
                <input type="text" placeholder="Pesquisar">
                <button>
                    <img src="/app/assets/icons/lupa 2.png">
                </button>
            </div>
        </div> 
    </header>

    <nav>
        <section>
            <div class="icons">
                <img src="/app/assets/icons/coracao 2.png">
            </div>
            <div class="icons">
                <img src="/app/assets/icons/carrinho-de-compras 2.png" >
            </div>
        </section>
    </nav>

    <main>
        <section class="products">
            <div class="product">
                <img class="img-product" src="/app/assets/imgs/mouse-gamer-redragon-cobra-m711-rgb-10000-dpi-7-botoes-programaveis-white_114701.png" alt="produto"/>
            </div>
            
            <div class="count">Disponível: 9</div>
        </section>

        

        <section class="description">
            <h2>Mouse Gamer Redragon Cobra M711W RGB, 10000 DPI, 7 Botões Programáveis, White</h2>
            <h3>R$ 109,00</h3>
            
            <button id="btn-buy">Comprar</button>
        </section>

        
    </main>

    <footer>
        
        <div id="social-icon">

            <img src="/app/assets/icons/instagram 1.png">
        
            <img src="/app/assets/icons/facebook 1.png">

        </div>

        <p>Aviso que todos os produtos são importados de fornecedores de terceiro, somos apenas uma uma plataforma de distribuição!</p>
        
    </footer>
</body>
</html>
