<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <link rel="shortcut icon" href="/app/assets/icons/box.ico" type="image/x-icon">
    <script src="/app/Js/menu.js"></script>
    <title>Swift Box | Login </title>
</head>
<body>
    <header>
        <h1>Swift Box</h1>

        <div id="mySidepanel" class="sidepanel">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a href="#">Carrinho</a>
            <a href="#">Favoritos</a>
            <a href="/app/views/cliente/cliente.html">Voltar</a>
        </div>
        
        <button class="openbtn" onclick="openNav()">
            <img id="icon-menu" src="/app/assets/icons/menu-aberto.png" alt="menu">
        </button>  
    </header>

    <main>
        <img src="/app/assets/imgs/sign-up-form.png" alt="">

        <form action="#">

            <div class="component">
                <label>E-mail</label>
                <input type="text" placeholder="Insira seu E-mail!">
            </div>

            <div class="component">
                <label>Senha</label>
                <input type="passwordsdsds" placeholder="Insira sua Senha!" >
            </div>

            <button>Entrar</button>
            <a class="link-rg" href="/app/views/cliente/register/register.html">Criar uma conta!</a>
        </form>
    </main>

    <span>
        <a href="/app/views/cliente/cliente.html">
            <img id="back-arrow" src="/app/assets/icons/back-arrow.png" alt="back-arrow">
        </a>
    </span>
</body>
</html>